.raja {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
     color: #130d0d;
}

body{
    background-color: rgb(192, 184, 174);
} 

.raja1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;

}

.rama{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.tim {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.yoo {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.rioo {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.timm {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}