.raja {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
     color: #130d0d;
}

body{
    background-color: rgb(192, 184, 174);
} 

.raja1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;

}

.rama{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.tim {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.yoo {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.rioo {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.timm {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.jpp {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.pp {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.yy {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

.uu{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

.hh {
    text-align: left;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.too {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-align: left;
}

.kk {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-align: left;
}

.hj{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.gum {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.gii {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.apy {

    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

.apy1 {

    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}